#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\mazur\data_analysis\data\supermarket_sales.csv')

In [7]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

Gender  Product line
Female  Fashion accessories       96
        Food and beverages        90
        Sports and travel         88
        Electronic accessories    84
        Home and lifestyle        79
        Health and beauty         64
Male    Health and beauty         88
        Electronic accessories    86
        Food and beverages        84
        Fashion accessories       82
        Home and lifestyle        81
        Sports and travel         78
Name: Count, dtype: int64

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [17]:
grouped = df.groupby('Branch')['gross income'].sum()
print(grouped)
max_branch = grouped.idxmax()
max = grouped.max()
print(f"Max income in in branch {max_branch} : {max}")

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64
Max income in in branch C : 5265.1765

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [19]:
df[df['Branch'] == max_branch]['City']

1      Naypyitaw
5      Naypyitaw
7      Naypyitaw
20     Naypyitaw
34     Naypyitaw
         ...
983    Naypyitaw
984    Naypyitaw
988    Naypyitaw
994    Naypyitaw
995    Naypyitaw
Name: City, Length: 328, dtype: object

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [29]:
invoices_by_category = df.pivot_table(
    index='Product line', 
    columns='Branch', 
    values='gross income',
    aggfunc='count'
    ).round(1)
print(invoices_by_category)

Branch                   A   B   C
Product line
Electronic accessories  60  55  55
Fashion accessories     51  62  65
Food and beverages      58  50  66
Health and beauty       47  53  52
Home and lifestyle      65  50  45
Sports and travel       59  62  45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

In [30]:
invoices_by_category.T

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [48]:
el_acc = invoices_by_category.loc['Electronic accessories']

max_el = el_acc.max()
max_br = el_acc.idxmax()

print(f'–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Electronic accessories —î –≤ –ú–∞–≥–∞–∑–∏–Ω—ñ {max_br} = {max_el}')

–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Electronic accessories —î –≤ –ú–∞–≥–∞–∑–∏–Ω—ñ A = 60
60
A

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

In [ ]:
1. –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏ —ñ –∂—ñ–Ω–∫–∏

In [76]:
grouped_customers = (
    df.groupby(['Gender', 'Product line'])
    .size()
    .rename('Count')
    .groupby(level=0, group_keys=False)
    .apply(lambda x: x.sort_values(ascending=False))
)

print(grouped_customers)

Gender  Product line
Female  Fashion accessories       96
        Food and beverages        90
        Sports and travel         88
        Electronic accessories    84
        Home and lifestyle        79
        Health and beauty         64
Male    Health and beauty         88
        Electronic accessories    86
        Food and beverages        84
        Fashion accessories       82
        Home and lifestyle        81
        Sports and travel         78
Name: Count, dtype: int64

In [82]:
m_max = grouped_customers['Male'].idxmax()
m_min = grouped_customers['Male'].idxmin()

f_max = grouped_customers['Female'].idxmax()
f_min = grouped_customers['Female'].idxmin()

print(f'–ß–æ–ª–æ–≤—ñ–∫–∏ –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å {m_max}, –∞ –Ω–∞–π–º–µ–Ω—à–µ {m_min}')
print(f'–ñ—ñ–Ω–∫–∏ –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å {f_max}, –∞ –Ω–∞–π–º–µ–Ω—à–µ {f_min}')

–ß–æ–ª–æ–≤—ñ–∫–∏ –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å Health and beauty, –∞ –Ω–∞–π–º–µ–Ω—à–µ Sports and travel
–ñ—ñ–Ω–∫–∏ –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å Fashion accessories, –∞ –Ω–∞–π–º–µ–Ω—à–µ Health and beauty

In [ ]:
2. –í —è–∫–æ–º—É –º—ñ—Å—è—Ü—ñ –±—É–ª–æ –∑–¥—ñ–π—Å–Ω–µ–Ω–æ –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫

In [86]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Month,Year
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1,1,2019
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6,3,2019
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4,3,2019

In [ ]:
grouped_time = (
    df.groupby(['Year', 'Month'])[['Total', 'gross income']]
      .sum()
)
print(grouped_time)

                 Total  gross income
Year Month
2019 1      116291.868      5537.708
     2       97219.374      4629.494
     3      109455.507      5212.167

In [ ]:
–°—ñ—á–µ–Ω—å –º—ñ—Å—è—Ü—å –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–π 116 —Ç–∏—Å, —É –ª—é—Ç–æ–º –ø—Ä–æ–¥–∞–∂—ñ –ø–∞–¥–∞—é—Ç—å 97 —Ç–∏—Å, –≤ –±–µ—Ä–µ–∑–Ω—ñ –∑–Ω–æ–≤—É –≤—ñ–¥–Ω–æ–≤–ª—é—é—Ç—å—Å—è –¥–æ 109 —Ç–∏—Å.

–í –ª—é—Ç–æ–º—É –≤–∞—Ä—Ç–æ –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç–∞–º –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –∞–∫—Ü—ñ—ó —Ç–∞ –ø—Ä–æ–º–æ –¥–ª—è –∫—Ä–∞—â–æ–≥–æ –∑–∞–ª—É—á–µ–Ω–Ω—è.

SyntaxError: invalid syntax (932159664.py, line 1)

In [ ]:
3. –Ø–∫ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞ —Ç–∞ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏?

In [107]:
df.pivot_table(
    index='Customer type',
    columns='Payment',
    values='Total',
    aggfunc='sum',
    margins=True,       
    margins_name='Total'
).round()

Payment            Cash  Credit card   Ewallet     Total
Customer type
Member          54661.0      57771.0   51791.0  164223.0
Normal          57546.0      42996.0   58202.0  158743.0
Total          112207.0     100767.0  109993.0  322967.0

In [ ]:
–ó–∞–≥–∞–ª–æ–º –ø–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –∫—É–ø—É—î—Ç—å –±—ñ–ª—å—à–µ. –ó–≤—ñ–¥—Å–∏ –º–æ–∂–Ω–∞ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫ —â–æ –∞–∫—Ü—ñ—ó/–ø—Ä–æ–º–æ —Ç–∞ —ñ–Ω—à–µ –¥–ª—è –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ –ø—Ä–∞—Ü—é—é—Ç—å –¥–æ–±—Ä–µ. –ê–ª–µ —Ü—è 
—Ä—ñ–∑–Ω–∏—Ü—è –Ω–µ —î –¥—É–∂–µ —Å—É—Ç—Ç—î–≤–æ—é.

–ü–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –Ω–∞–¥–∞—é—Ç—å –ø–µ—Ä–µ–≤–∞–≥—É —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫—É –∫—Ä–µ–¥–∏—Ç–Ω–æ—é –∫–∞—Ä—Ç–∫–æ—é, –∞ –∑–≤–∏—á–∞–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ –º–µ—Ç–æ–¥–æ–º Ewallet –∞–±–æ –≥–æ—Ç—ñ–≤–∫–æ—é.