# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\mazur\data_analysis\data\supermarket_sales.csv')

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [7]:
df.sort_values(by="Unit price", ascending=True).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
944,333-23-2632,A,Yangon,Member,Male,Health and beauty,10.08,7,3.5280,74.0880,3/28/2019,20:14,Cash,70.56,4.761905,3.5280,4.2
572,239-48-4278,A,Yangon,Member,Male,Food and beverages,10.13,7,3.5455,74.4555,3/10/2019,19:35,Ewallet,70.91,4.761905,3.5455,8.3
784,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,10.16,5,2.5400,53.3400,2/24/2019,13:08,Ewallet,50.80,4.761905,2.5400,4.1
822,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2/7/2019,14:15,Cash,10.17,4.761905,0.5085,5.9
881,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,10.18,8,4.0720,85.5120,3/30/2019,12:51,Credit card,81.44,4.761905,4.0720,9.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [25]:
df[df['Product line'] == 'Electronic accessories'].sort_values(['Quantity', 'Unit price'], ascending = False).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 (включно) до 8 (не включно) - то він середній (`Medium`)
- інакше - низький (`Low`).

In [30]:
df['Rating Category'] = df.Rating.apply(lambda r: 'High' if r >= 8 else ('Low' if r < 6 else 'Medium'))
df[['Rating Category', 'Rating']]

    Rating Category  Rating
0              High     9.1
1              High     9.6
2            Medium     7.4
3              High     8.4
4               Low     5.3
..              ...     ...
995          Medium     6.2
996             Low     4.4
997          Medium     7.7
998             Low     4.1
999          Medium     6.6

[1000 rows x 2 columns]

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [32]:
df['Rating Category'].value_counts()/df['Rating Category'].value_counts().sum()

Rating Category
Medium    0.356
High      0.329
Low       0.315
Name: count, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [49]:
time = '4:28'

In [48]:
def get_hour(time):
    return int(time.split(':')[0])

print(get_hour(time))

4

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [52]:
df['Hour'] = df.Time.apply(get_hour)
df[['Hour', 'Time']].head()

   Hour   Time
0    13  13:08
1    10  10:29
2    13  13:23
3    20  20:33
4    10  10:37

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [53]:
df['Hour'].value_counts()

Hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

In [ ]:
Найбільше покупок о 19 год - 113 шт, це час після роботи, або коли люди повертаються з роботи і мають вільний час та 
бажання зробити особисті покупки.
Далі 13 год (103 шт) і 15 (102 шт) - типовий час обідніх годин.
І 10 год (101 шт) - час в транспорті на роботу або власне початку робочого дня коли ще немає повного завантаження

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [61]:
df.groupby('City')['Total'].mean().round(2)

City
Mandalay     319.87
Naypyitaw    337.10
Yangon       312.35
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [62]:
df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max']).round(2)

           count    mean    min      max
City
Mandalay     332  319.87  18.64  1022.49
Naypyitaw    328  337.10  10.68  1042.65
Yangon       340  312.35  12.69  1039.29

In [ ]:
у місті Naypyitaw найнижча кількість замовлень, проте середній чек купівлі найбільший зі всіх міст, 
тобто купівельна спроможнасть мешканців висока. Мережі потрібно зосередитися на збільшенні продажів і залучені нових клієнтів.

Yangon має найбільше продажів але середній чек найменший серед інших міст, тож варто зосередитися на збільшенні середнього чеку 
(дод акції на товари, правильне розміщення товарів для спонтанних покупок наприклад)

Mandalay має середні показники, варто глябше проаналізувати які товари купуються і експериментувати зпокращеннями.

SyntaxError: invalid syntax (1085277506.py, line 1)

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [64]:
df.to_csv('Result home work pandas 2', index=False)

In [65]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating', 'Rating Category', 'Hour'],
      dtype='object')