# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º–∏ "–í–≤–µ–¥–µ–Ω–Ω—è —É Pandas —Ç–∞ NumPy"

–£ –¥–æ–º–∞—à–Ω—ñ—Ö –∑–∞–≤–¥–∞–Ω–Ω—è—Ö —Ü—å–æ–≥–æ –º–æ–¥—É–ª—é –º–∏ –ø—Ä–∞—Ü—é—î–º–æ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö –ø—Ä–æ –ø—Ä–æ–¥–∞–∂—ñ –≤ —Ä—ñ–∑–Ω–∏—Ö –º–∞–≥–∞–∑–∏–Ω–∞—Ö –º–µ—Ä–µ–∂—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤.

## –ö–æ–Ω—Ç–µ–∫—Å—Ç –¥–∞–Ω–∏—Ö
–ó—Ä–æ—Å—Ç–∞–Ω–Ω—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤ —É –Ω–∞–π–±—ñ–ª—å—à –Ω–∞—Å–µ–ª–µ–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö –∑–±—ñ–ª—å—à—É—î—Ç—å—Å—è, –∞ –∫–æ–Ω–∫—É—Ä–µ–Ω—Ü—ñ—è –Ω–∞ —Ä–∏–Ω–∫—É —Ç–∞–∫–æ–∂ –≤–∏—Å–æ–∫–∞. –ù–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö —î –≤–∏–≥—Ä—É–∑–∫–æ—é —ñ—Å—Ç–æ—Ä–∏—á–Ω–∏—Ö –ø—Ä–æ–¥–∞–∂—ñ–≤ –∫–æ–º–ø–∞–Ω—ñ—ó-–º–µ—Ä–µ–∂—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤ —É 3—Ö —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ—è—Ö –ø—Ä–æ—Ç—è–≥–æ–º 3 –º—ñ—Å—è—Ü—ñ–≤.

**–¶—ñ–ª—å:** –¶–µ–π –Ω–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∏–π –¥–ª—è —Ü—ñ–ª–µ–π —Ä–æ–∑—É–º—ñ–Ω–Ω—è —Ç–µ–Ω–¥–µ–Ω—Ü—ñ–π –ø—Ä–æ–¥–∞–∂—ñ–≤, —è–∫—ñ —Ç–æ–≤–∞—Ä–∏ –≤ —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –≤–∞—Ä—Ç–æ –ø—Ä–æ–¥–∞–≤–∞—Ç–∏, –∞ –ø–æ—Å—Ç–∞–≤–∫—É —è–∫–∏—Ö - –≤–∞—Ä—Ç–æ —Å–∫–æ—Ä–æ—Ç–∏—Ç–∏. –ù–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –¥–∞–Ω–∏—Ö –º–æ–∂–Ω–∞ –æ—Ü—ñ–Ω–∏—Ç–∏ –º–∞–π–±—É—Ç–Ω—ñ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó –ø—Ä–æ–¥–∞–∂—ñ–≤, –æ—Ü—ñ–Ω–∏—Ç–∏ –ø–æ–≤–µ–¥—ñ–Ω–∫—É —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ —Ç–∞ –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ —Å—Ç—Ä–∞—Ç–µ–≥—ñ—é –ø—Ä–æ–¥–∞–∂—ñ–≤.

–ú–∏ –±—É–¥–µ–º–æ —Ä–æ–±–∏—Ç–∏ –µ–ª–µ–º–µ–Ω—Ç–∏ –∞–Ω–∞–ª—ñ–∑—É –≤ —Ü—å–æ–º—É –Ω–∞–ø—Ä—è–º—ñ.

## –û–ø–∏—Å –¥–∞–Ω–∏—Ö

| –ù–∞–∑–≤–∞ –æ—Ä–∏–≥—ñ–Ω–∞–ª—å–Ω–∞           | –ü–µ—Ä–µ–∫–ª–∞–¥ –Ω–∞–∑–≤–∏             | –û–ø–∏—Å —É–∫—Ä–∞—ó–Ω—Å—å–∫–æ—é                                                                                       |
|---------------------------|--------------------------|-----------------------------------------------------------------------------------------------------|
| Invoice id                | –Ü–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä —á–µ–∫–∞       | –ö–æ–º–ø‚Äô—é—Ç–µ—Ä–Ω–æ –≥–µ–Ω–µ—Ä–æ–≤–∞–Ω–∏–π –Ω–æ–º–µ—Ä —ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ü—ñ—ó —á–µ–∫–∞ –ø—Ä–æ–¥–∞–∂—É                                             |
| Branch                    | –§—ñ–ª—ñ—è                    | –§—ñ–ª—ñ—è —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É (–¥–æ—Å—Ç—É–ø–Ω—ñ 3 —Ñ—ñ–ª—ñ—ó, —ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–æ–≤–∞–Ω—ñ —è–∫ A, B —Ç–∞ C)                                     |
| City                      | –ú—ñ—Å—Ç–æ                    | –ú—ñ—Å—Ü–µ–∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —Å—É–ø–µ—Ä—Ü–µ–Ω—Ç—Ä—ñ–≤                                                                        |
| Customer type             | –¢–∏–ø –∫–ª—ñ—î–Ω—Ç–∞              | –¢–∏–ø –∫–ª—ñ—î–Ω—Ç—ñ–≤, –∑–∞—Ñ—ñ–∫—Å–æ–≤–∞–Ω–∏–π —è–∫ –ß–ª–µ–Ω–∏ –¥–ª—è –∫–ª—ñ—î–Ω—Ç—ñ–≤, —â–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É —á–ª–µ–Ω–∞, —Ç–∞ –ó–≤–∏—á–∞–π–Ω—ñ –±–µ–∑ –∫–∞—Ä—Ç–∫–∏ |
| Gender                    | –°—Ç–∞—Ç—å                    | –°—Ç–∞—Ç—å –ø–æ–∫—É–ø—Ü—è                                                                                       |
| Product line              | –õ—ñ–Ω—ñ–π–∫–∞ –ø—Ä–æ–¥—É–∫—Ç—ñ–≤        | –ó–∞–≥–∞–ª—å–Ω—ñ –≥—Ä—É–ø–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ - –ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏, –ú–æ–¥–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏, –á–∂–∞ —Ç–∞ –Ω–∞–ø–æ—ó, –ó–¥–æ—Ä–æ–≤‚Äô—è —Ç–∞ –∫—Ä–∞—Å–∞, –î—ñ–º —ñ —Å—Ç–∏–ª—å –∂–∏—Ç—Ç—è, –°–ø–æ—Ä—Ç —Ç–∞ –ø–æ–¥–æ—Ä–æ–∂—ñ |
| Unit price                | –¶—ñ–Ω–∞ –∑–∞ –æ–¥–∏–Ω–∏—Ü—é          | –¶—ñ–Ω–∞ –∫–æ–∂–Ω–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç—É –≤ –¥–æ–ª–∞—Ä–∞—Ö –°–®–ê                                                                  |
| Quantity                  | –ö—ñ–ª—å–∫—ñ—Å—Ç—å                | –ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥—É–∫—Ç—ñ–≤, –ø—Ä–∏–¥–±–∞–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç–æ–º                                                             |
| Tax                       | –ü–æ–¥–∞—Ç–æ–∫                  | 5% –ø–æ–¥–∞—Ç–∫–æ–≤–∏–π –∑–±—ñ—Ä –¥–ª—è –ø–æ–∫—É–ø—Ü—è                                                                       |
| Total                     | –ó–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞            | –ó–∞–≥–∞–ª—å–Ω–∞ —Ü—ñ–Ω–∞ –∑ —É—Ä–∞—Ö—É–≤–∞–Ω–Ω—è–º –ø–æ–¥–∞—Ç–∫—É                                                                  |
| Date                      | –î–∞—Ç–∞                     | –î–∞—Ç–∞ –ø–æ–∫—É–ø–∫–∏ (–î–∞–Ω—ñ –¥–æ—Å—Ç—É–ø–Ω—ñ –∑ —Å—ñ—á–Ω—è 2019 –ø–æ –±–µ—Ä–µ–∑–µ–Ω—å 2019)                                           |
| Time                      | –ß–∞—Å                      | –ß–∞—Å –ø–æ–∫—É–ø–∫–∏ (–∑ 10:00 –¥–æ 21:00)                                                                       |
| Payment                   | –û–ø–ª–∞—Ç–∞                   | –ú–µ—Ç–æ–¥ –æ–ø–ª–∞—Ç–∏, –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∏–π –∫–ª—ñ—î–Ω—Ç–æ–º –¥–ª—è –ø–æ–∫—É–ø–∫–∏ (–¥–æ—Å—Ç—É–ø–Ω—ñ 3 –º–µ—Ç–æ–¥–∏ ‚Äì –ì–æ—Ç—ñ–≤–∫–∞, –ö—Ä–µ–¥–∏—Ç–Ω–∞ –∫–∞—Ä—Ç–∫–∞ —Ç–∞ –ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∏–π –≥–∞–º–∞–Ω–µ—Ü—å) |
| COGS                      | –°–æ–±—ñ–≤–∞—Ä—Ç—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤ | –°–æ–±—ñ–≤–∞—Ä—Ç—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤                                                                      |
| Gross margin percentage   | –í—ñ–¥—Å–æ—Ç–æ–∫ –≤–∞–ª–æ–≤–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É | –í—ñ–¥—Å–æ—Ç–æ–∫ –≤–∞–ª–æ–≤–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É                                                                         |
| Gross income              | –í–∞–ª–æ–≤–∏–π –¥–æ—Ö—ñ–¥            | –í–∞–ª–æ–≤–∏–π –¥–æ—Ö—ñ–¥                                                                                       |
| Rating                    | –†–µ–π—Ç–∏–Ω–≥                  | –†–µ–π—Ç–∏–Ω–≥ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤—ñ–¥ –∑–∞–≥–∞–ª—å–Ω–æ–≥–æ –¥–æ—Å–≤—ñ–¥—É –ø–æ–∫—É–ø–æ–∫ (–ù–∞ —à–∫–∞–ª—ñ –≤—ñ–¥ 1 –¥–æ 10)                    |


## –†–æ–±–æ—Ç–∞ –∑ –¥–∞–Ω–∏–º–∏ –≤ —Ä–∞–º–∫–∞—Ö –∑–∞–≤–¥–∞–Ω—å —Ü—å–æ–≥–æ –º–æ–¥—É–ª—é

–ó–∞–≤–∞–Ω—Ç–∞–∂—Ç–µ –¥–∞–Ω—ñ –∑ –Ω–∞–≤—á–∞–ª—å–Ω–æ—ó –ø–ª–∞—Ç—Ñ–æ—Ä–º–∏ —Å–æ–±—ñ –ª–æ–∫–∞–ª—å–Ω–æ. –Ø–∫ –Ω–∞–π—Ä–∫–∞—â–µ –æ—Ä–≥–∞–Ω—ñ–∑—É–≤–∞—Ç–∏ –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö —ñ –Ω–æ—É—Ç–±—É–∫—ñ–≤ –±—É–ª–æ –Ω–∞–≤–µ–¥–µ–Ω–æ –≤ –ª–µ–∫—Ü—ñ—ó. –Ø–∫—â–æ –í–∏ –ø—Ä–∞—Ü—é—î—Ç–µ –≤ Colab - —Ç–æ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –∞–±–æ —Ä–æ–∑–º—ñ—Å—Ç–∏—Ç–∏ –¥–∞–Ω—ñ —É —Å–µ–±–µ –Ω–∞ –¥–∏—Å–∫—É —ñ –ø—ñ–¥–∫–ª—é—á–∏—Ç–∏ –¥–∏—Å–∫ (`Files` -> `Mount Drive`) –∞–±–æ –ø–µ—Ä–µ—Ç—è–≥–Ω—É—Ç–∏ –¥–∞–Ω—ñ –≤ `Files` –Ω–∞ —Ä–æ–±–æ—á—É —Å–µ—Å—ñ—é —ñ —á–∏—Ç–∞—Ç–∏ –∑–≤—ñ–¥—Ç–∏.

–î–∞–Ω—ñ –º–∏ –ù–ï –∑–∞–ª–∏–≤–∞—î–º–æ –∑–∞–∑–≤–∏—á–∞–π –≤ git, –æ—Å–æ–±–ª–∏–≤–æ —è–∫—â–æ –≤–æ–Ω–∏ –±—ñ–ª—å—à–µ 10–º–± - —Ü–µ –ø–æ–≥–∞–Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–∞. –õ—ñ–ø—à–µ –∑–∞–ª–∏—Ç–∏ –Ω–∞ –≥—É–≥–ª –¥–∏—Å–∫ —ñ –¥–∞—Ç–∏ –ø–æ—Å–∏–ª–∞–Ω–Ω—è –≤ —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä—ñ—ó –≤ readme.md —Ñ–∞–π–ª—ñ, —è–∫—â–æ –¥–∞–Ω—ñ –≤–µ–ª–∏–∫—ñ. –°–∞–º–µ —Ç–∞–∫ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é —Ä–æ–±–∏—Ç–∏ –¥–ª—è –ø—Ä–æ—î–∫—Ç—ñ–≤ –∑ –ø–æ—Ä—Ç—Ñ–æ–ª—ñ–æ.

–£ –¥–æ–º–∞—à–Ω—ñ—Ö –∑–∞–≤–¥–∞–Ω–Ω—è—Ö —Ü—å–æ–≥–æ –º–æ–¥—É–ª—è –æ—Å–æ–±–ª–∏–≤–æ –≤–∞–∂–ª–∏–≤–æ **—É–≤–∞–∂–Ω–æ** —á–∏—Ç–∞—Ç–∏ —Ñ–æ—Ä–º—É–ª—é–≤–∞–Ω–Ω—è –∑–∞–≤–¥–∞–Ω–Ω—è —ñ –≤—Å—ñ –∫–æ–º–µ–Ω—Ç–∞—Ä—ñ. –¢–∞–∫–æ–∂ —É —Ü—å–æ–º—É –º–æ–¥—É–ª—ñ —Ç—Ä–µ–±–∞ –ø–æ –º–∞–∫—Å–∏–º—É–º—É –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏ pandas, –Ω–∞–≤—ñ—Ç—å —è–∫—â–æ —ñ—Å–Ω—É—é—Ç—å –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ñ —Å–ø–æ—Å–æ–±–∏ –∑—Ä–æ–±–∏—Ç–∏ —Ç–µ —Å–∞–º–µ. –ù–∞–≥–∞–¥—É—é, —â–æ –ø—Ä–∞—Ü—é—é—á–∏ –∑ pandas –º–∏ –∑–¥–µ–±—ñ–ª—å—à–æ–≥–æ –ù–ï –ø–æ—Ç—Ä–µ–±—É—î–º–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ —Ü–∏–∫–ª–∏ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –∫–æ–ª–æ–Ω–∫–∏ - –¥–ª—è —Ü—å–æ–≥–æ —î —ñ–Ω—à—ñ, –±—ñ–ª—å—à –∑–∞–≥–∞–ª—å–Ω–æ–ø—Ä–∏–π–Ω—è—Ç—ñ –º–µ—Ç–æ–¥–∏, —Ä–æ–∑–≥–ª—è–Ω—É—Ç—ñ –≤ –ª–µ–∫—Ü—ñ—ó.

1. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas –≤ –∑–∞–≥–∞–ª—å–Ω–æ–ø—Ä–∏–π–Ω—è—Ç–æ–º—É —Ñ–æ—Ä–º–∞—Ç—ñ.

In [1]:
import pandas as pd

2. –ó–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏ Pandas, –≤–∏–∫–ª–∏–∫–æ–º –æ–¥–Ω—ñ—î—ó —Ñ—É–Ω–∫—Ü—ñ—ó –∑—á–∏—Ç–∞–π—Ç–µ –Ω–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö —ñ–∑ —Ñ–∞–π–ª—É `supermarket_sales.csv` –≤ –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.
–í–∏–≤–µ–¥—ñ—Ç—å —Ç–∏–ø –¥–∞–Ω–∏—Ö –∑–º—ñ–Ω–Ω–æ—ó `df`.

In [22]:
data_path = r'C:\Users\mazur\data_analysis\data\health_insurance_cross_sell_prediction.csv'
df = pd.read_csv(data_path)

In [4]:
ls c:\Users\mazur\data_analysis\data\health_insurance_cross_sell_prediction.csv

 Volume in drive C is Windows-SSD
 Volume Serial Number is 80FF-9210

 Directory of c:\Users\mazur\data_analysis\data

14.02.2026  08:26        21ÔøΩ432ÔøΩ357 health_insurance_cross_sell_prediction.csv
               1 File(s)     21ÔøΩ432ÔøΩ357 bytes
               0 Dir(s)  374ÔøΩ157ÔøΩ025ÔøΩ280 bytes free

In [10]:
df.shape

(381109, 12)

In [11]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

3. –í–∏–≤–µ–¥—ñ—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ä—è–¥–∫—ñ–≤ —ñ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫–æ–ª–æ–Ω–æ–∫ –≤ –Ω–∞–±–æ—Ä—ñ –¥–∞–Ω–∏—Ö. –í—ñ–¥–ø–æ–≤—ñ–¥—å —Å—Ñ–æ—Ä–º—É–π—Ç–µ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ fstring —É –Ω–∞—Å—Ç—É–ø–Ω–æ–º—É —Ñ–æ—Ä–º–∞—Ç—ñ: `–ù–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö –º—ñ—Å—Ç–∏—Ç—å 1000 —Ä—è–¥–∫—ñ–≤ —Ç–∞ 17 –∫–æ–ª–æ–Ω–æ–∫`

In [13]:
print(f'–ù–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö –º—ñ—Å—Ç–∏—Ç—å {df.shape[0]} —Ä—è–¥–∫—ñ–≤ —Ç–∞ {df.shape[1]} –∫–æ–ª–æ–Ω–æ–∫')

–ù–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö –º—ñ—Å—Ç–∏—Ç—å 381109 —Ä—è–¥–∫—ñ–≤ —Ç–∞ 12 –∫–æ–ª–æ–Ω–æ–∫

4. –°–∫—ñ–ª—å–∫–∏ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–æ—ó –ø–∞–º º—è—Ç—ñ —É –º–µ–≥–∞–±–∞–π—Ç–∞—Ö –∑–∞–π–º–∞—î –¥–∞–Ω–∏–π –Ω–∞–±—ñ—Ä –¥–∞–Ω–∏—Ö? –û–±—á–∏—Å–ª—ñ—Ç—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é pandas —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –Ω–∞ –µ–∫—Ä–∞–Ω.

In [16]:
df.memory_usage().sum()

np.int64(36586596)

In [25]:
pd.read_csv(data_path, nrows=10)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
5,6,Female,24,1,33.0,0,< 1 Year,Yes,2630.0,160.0,176,0
6,7,Male,23,1,11.0,0,< 1 Year,Yes,23367.0,152.0,249,0
7,8,Female,56,1,28.0,0,1-2 Year,Yes,32031.0,26.0,72,1
8,9,Female,24,1,3.0,1,< 1 Year,No,27619.0,152.0,28,0
9,10,Female,32,1,6.0,1,< 1 Year,No,28771.0,152.0,80,0

**–ü–µ—Ä—à–µ –¥–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è —ñ–∑ Pandas –≤–∏–∫–æ–Ω–∞–Ω–æ! üöÄ‚úîÔ∏è**